bad-metrics-project/target/
bad-metrics-project/target/*.class
bad-metrics-project/target/*.ser
bad-metrics-project/target/site/
bad-metrics-project/target/surefire-reports/
bad-metrics-project/target/maven-status/
bad-metrics-project/target/cobertura/
bad-metrics-project/target/generated-sources/
bad-metrics-project/target/generated-test-sources/
bad-metrics-project/target/generated-classes/
*.log
*.tmp
*.swp
.idea/
*.iml
*.project
*.classpath
**/.idea/
**/*.iml
**/.classpath
**/.project
*.png

